<footer class="mt-auto py-3">
  <div class="container text-center">    
      <img
        src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMi1wbGEtdGFuZy01MS1pY29uc18yLmpwZw.jpg?s=UIH21GI0T7G0qSsfPeZV_4H6gItq6cD_r2XdEzKcoNc"
        class="me-2" height="50" alt="Logo" loading="lazy" />
      <small class="d-block mb-3 text-muted">&copy; 2024 - Kubra Kizilkilic</small>
</footer>
</body>
</html>