<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.72.0" />
    <title>Product example · Bootstrap</title>

    <link
      rel="canonical"
      href="https://v5.getbootstrap.com/docs/5.0/examples/product/"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <!-- <link href="product.css" rel="stylesheet"> -->
    <style>
      .container {
        max-width: 960px;
      }

      /*
 * Custom translucent site header
 */

      .site-header {
        background-color: rgba(0, 0, 0, 0.85);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
      }

      .site-header a {
        color: #727272;
        transition: color 0.15s ease-in-out;
      }

      .site-header a:hover {
        color: #fff;
        text-decoration: none;
      }

      /*
 * Dummy devices (replace them with your own or something else entirely!)
 */

      .product-device {
        position: absolute;
        right: 10%;
        bottom: -30%;
        width: 300px;
        height: 540px;
        background-color: #333;
        border-radius: 21px;
        transform: rotate(30deg);
      }

      .product-device::before {
        position: absolute;
        top: 10%;
        right: 10px;
        bottom: 10%;
        left: 10px;
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
      }

      .product-device-2 {
        top: -25%;
        right: auto;
        bottom: 0;
        left: 5%;
        background-color: #e5e5e5;
      }

      /*
 * Extra utilities
 */

      .flex-equal > * {
        flex: 1;
      }

      @media (min-width: 768px) {
        .flex-md-equal > * {
          flex: 1;
        }
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-body-tertiary">
      <div class="container-fluid">
        <img
          src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMi1wbGEtdGFuZy01MS1pY29uc18yLmpwZw.jpg?s=UIH21GI0T7G0qSsfPeZV_4H6gItq6cD_r2XdEzKcoNc"
          class="me-2"
          height="50"
          alt="Logo"
          loading="lazy"
        />
        <a class="navbar-brand" href="#">HOME</a>
        <a class="navbar-brand" href="#"> products </a>
      </div>
    </nav>
  </body>
</html>
