<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ILLUMINATION</title>

  <link rel="stylesheet" href="style.css"  />
  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/product/" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-body-tertiary">
      <ul class="container-fluid">
        <a class="navbar-brand" href="#"> </a>
        <a class="navbar-brand" href="/">
          <img
            src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMi1wbGEtdGFuZy01MS1pY29uc18yLmpwZw.jpg?s=UIH21GI0T7G0qSsfPeZV_4H6gItq6cD_r2XdEzKcoNc"
            class="me-2" height="50" alt="Logo" loading="lazy" />HOME</a>
        <a class="navbar-brand" href="/lamps">&#9728; LAMPS </a>
        <a class="navbar-brand" href="/fabrics">&#x1F3E3; FABRICS </a>
        <a class="navbar-brand" href="#"> </a>
      </ul>
    </nav>
  </header>