<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ILLUMINATION</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />

    <link rel="stylesheet" href="/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.1/dist/umd/popper.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-light bg-body-tertiary">
      <ul class="container-fluid">
        <a class="navbar-brand" href="#"> </a>
        <a class="navbar-brand" href="#"> </a>
        <a class="navbar-brand <%= page === 'index' ? 'active' : '' %>" href="/">&#127968; HOME</a>
         
        <!-- <a class="navbar-brand <%= page === 'lamps' ? 'active' : '' %>" href="/lamps">&#9728; LAMPS </a> -->
        <a class="navbar-brand <%= page === 'fabrics' ? 'active' : '' %>" href="/fabrics">&#x1F3E3; FABRICS </a>
        <a class="navbar-brand" href="#"> </a>
        <form action="/logout" method="post">
          <button type="submit" class=" btn btn-link btn-sm btn-rounded btn-orange"> LOGOUT</button>
      </form>
          
      </ul>
    </nav>
  </header>
  