<%- include('./partials/header') %>

<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">LAMPS</h1>
    <p class="lead font-weight-normal">
      And an even wittier subheading to boot. Jumpstart your marketing efforts
      with this example based on Apple’s marketing pages.
    </p>
  </div>
</div>

<div class="input-group col-md-5 p-lg-5 mx-auto my-5">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="search-addon"
  />
  <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>
    search
  </button>
</div>

<div class="col-md p-lg-5 mx-auto my-5">
  <table class="table align-middle mb-0 bg-white table-hover">
    <thead class="bg-light">
      <tr> 
        <th>Name</th>
        <th>Title</th>
        <th>Status</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 80px; height: 80px"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
              <p class="text-muted mb-0">john.doe@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Software engineer</p>
          <p class="text-muted mb-0">IT department</p>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>Senior</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            View
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Consultant</p>
          <p class="text-muted mb-0">Finance</p>
        </td>
        <td>
          <span class="badge badge-primary rounded-pill d-inline"
            >Onboarding</span
          >
        </td>
        <td>Junior</td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-rounded btn-sm fw-bold"
            data-mdb-ripple-color="dark"
          >
            View
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Designer</p>
          <p class="text-muted mb-0">UI/UX</p>
        </td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline"
            >Awaiting</span
          >
        </td>
        <td>Senior</td>
        <td>
          <button
            type="button"
            class="btn btn-link btn-rounded btn-sm fw-bold"
            data-mdb-ripple-color="dark"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('./partials/footer') %>

<!-- Alle EJS files moeten in de views folder staan -->
