<%- include('./partials/header') %>
<main>
  <div class="bg-image">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-black"></h1>
      <img src="/assets/images/image.jpg" />
    </div>
  </div>
  
</main>
<%- include('./partials/footer') %>
