<%- include('./partials/header') %>
<main>
  <div class="card text-center border  shadow-0">
    <div class="bg-image hover-overlay ripple">
      <h1 class="text-black"></h1>
      <img class="img-fluid" src="/assets/images/image.jpg" />
     
    </div> <img src="/assets/images/lamp.gif" alt="Lamp GIF">
  </div>
  
</main>
<%- include('./partials/footer') %>
