<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ILLUMINATION</title>

  <link rel="stylesheet" href="/style.css" />
  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/product/" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
</head>

<div class="container my-5">
  <h1 class="mt-5 text-center">Registratie</h1>
  <br>
  <div class="d-flex justify-content-center align-items-center">
    <form action="/" method="POST">
      <div class="form-group">
        <div class="mb-3">
          <label for="username" class="form-label">Gebruikersnaam</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-3">
          <label for="password" class="form-label">Wachtwoord</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary bg-orange text-white">Registreer</button>
      </div>
      <% if (message !== "") { %>
        <div class="d-flex justify-content-center error-message"><%= message %>  </div>
      <% } %>
    </form>
    
  </div>
</div>

<section class="d-flex justify-content-center">
  <p>
    Heb je al een account? <br> <a href="/login">Meld je dan hier aan!</a>
  </p>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('./partials/footer') %>