<%- include('./partials/header') %>
<main>
<div class="card text-center border border-primary shadow-0">
  <% lampDetails.forEach(lampDetail => { %>
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">   
    
    <img
      src="<%- lampDetail.foto %>"
      class="img-fluid"
    />
    <a href="#!">
      <div
        class="mask"
        style="background-color: rgba(251, 251, 251, 0.15)"
      ></div>
    </a>
 
  </div>
  <div class="card-header">Featured</div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>

    
  </div>
  <div class="card-footer">2 days ago</div>
    <% }) %>
</div>
</main>
<%- include('./partials/footer') %>

