<%- include('./partials/header') %>
  <main class="container text-center">
    <header class="my-5">
      <h1 class="display-5 fw-bold">Welcome to Illumination Shop</h1>
      <p class="lead">Discover our unique and stylish lamps for your home and office.</p>
    </header>
    <section class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <div class="col">
        <div class="card h-100">
          <img src="https://raw.githubusercontent.com/kubra-kzlk/lamps/main/luna.jpeg" class="card-img-top" alt=" Featured lamp">
          <div class="card-body">
            <h5 class="card-title">LUNA</h5>
            <p class="card-text">This stylish desk lamp will add a touch of elegance to your workspace.</p>
          </div>
          <div class="card-footer">
            <a href="/lampDetail/1" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <hr class="my-5">
    <%- include('./partials/footer') %>