<%- include('./partials/header') %>
<main class="container text-center">
  <h1 class="text-black"></h1>
  <div class="d-flex justify-content-center align-items-center">
    <img class="img-fluid" src="/assets/images/image.jpg" alt="Centered Image"/>
  </div>
</main>
  <%- include('./partials/footer') %>