<%- include('./partials/header') %>
  <main>
    <div class="card text-center border  shadow-0">
      <div class="bg-image hover-overlay ripple">
        <h1 class="text-black"></h1>
        <img class="img-fluid" src="/assets/images/image.jpg" />
        <p></p>
      </div> <img src="/assets/images/lamp.gif" alt="Lamp GIF" width="200" height="200"
        style="display: block; margin: 0 auto;">
    </div>

  </main>
  <%- include('./partials/footer') %>