/*mainpage*/
.card-footer >a{
  border-color: orange;
  background-color: orange;
}
.error-message{
  color: red;
  margin-top: 20px;
}
.mainLamps{
  margin-left: 60px;
}
/**/
.input-group{
  max-width: 500px;
  width: 100%; 
  
}
.mb-3  {
  max-width: 300px; 
  width: 100%; 
}

th{
  color: orange;
}
th >a{
  color: orange;
}
td{
  border-color: orange;
  background-color: orange;
}
td > button{
  background-color: orange;
}
.btn-orange {
  background-color: orange;
  border-color: orange;
  color: white;
}

.btn-orange:hover {
  background-color: darkorange;
  border-color: darkorange;
  color: white;
}

.bg-orange {
  background-color: orange !important;
  border: orange!important;  
}

.bg-orange:hover {
  background-color: darkorange !important;
}
.card-link{
  color: orange;
}
.container {
  max-width: 960px;
}

.navbar .navbar-brand {
  color: #000; 
  transition: color 0.3s ease; 
}

.navbar .navbar-brand:hover {
  color: orange; 
}
.navbar .navbar-brand.active {
  border-bottom: 2px solid orange;
}

.navbar .navbar-brand.active:hover {
  color: orange;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.flex-equal > * {
  flex: 1;
}
footer{
  padding: 1rem 0;
}

@media (max-width: 1000px){
  input-group{
    margin-left: 3rem;
  }
  }

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 10px 0;
  }

  a {
    padding: 0;
    margin: 0;
  }
 
  .mainLamps{
    margin-left: 1px;
  }
}